*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;
  --clr-primary-5: hsl(205, 78%, 60%);

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */

  --lavendar-blush: #fff0f5;
  --light-mint: #c8e2d2;
  --dark-teal: #008080;
  --egg-shell: #ffc300;
  --mint: #daf7a6;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */

  --small-text: 0.6rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --borderRadius: 0.25rem;
  --response-menu-button-radius: 0.75rem;
  --fact-border-radius: 0.3rem;
  --preset-trips-radius: 0.25rem;
  --letterSpacing: 1px;
  --home-page-picture-height: 60vh;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --spacing: 0.1rem;
  --fact-transition: 0.3s linear all;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

p {
  margin-bottom: 1.5rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 0.75rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  text-transform: none;
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.block {
  min-height: var(--home-page-picture-height);
}

.home-background {
  background: #cad2e1;
}

.intro-container {
  position: relative;
  margin: 0 auto;
  margin-top: -350px;
}

.intro-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
}

.home-img {
  width: 100%;
  height: var(--home-page-picture-height);
  display: block;
  object-fit: cover;
  opacity: 40%;
}

/* Preset Trips */

.preset-trips-container {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 5rem auto;
}

.preset-trips-heading {
  text-align: center;
}

.single-trip {
  background: var(--clr-white);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}

.single-trip:hover {
  box-shadow: var(--dark-shadow);
}

.single-trip img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: var(--preset-trips-radius);
  border-top-left-radius: var(--preset-trips-radius);
}

.single-trip p {
  padding-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  color: var(--grey-500);
}

.single-trip .read-more {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--clr-primary-5);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

.trip-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.trip-info h5 {
  margin-bottom: 0;
  text-align: center;
}

/* buttons */

.submit-trip-button {
  text-align: center;
  justify-content: center;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  margin: 1rem 1rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}

.btn-block {
  width: 100%;
}

.btn-disabled {
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  margin: 1rem 1rem;
  text-transform: capitalize;
  display: inline-block;
}

/* Underline */

.underline {
  width: 18rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

/* form */

.form {
  width: 30vw;
  max-width: var(--max-width);
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin-top: 3rem;
  margin: 3rem auto;
  text-align: center;
  position: relative;
}

.form::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
}

.form-label {
  display: block;
  font-size: var(--small-text);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--grey-200);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

/* extra styles */
.form .form-label {
  text-align: left;
}
.form .btn-block {
  margin-top: 0.5rem;
}

@media screen and (max-width: 800px) {
  .form {
    width: 90%;
  }
}

/* Loading */

.loading-screen {
  text-align: center;
  /* margin-top: 5rem; */
}

.loading-textbox {
  margin: 30px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
}

/* Progress bar */

/* title */

.title {
  text-align: center;
}

/* Response */

.response-window {
  text-align: center;
}

.response-container {
  box-shadow: rgba(28, 28, 28, 0.16) 0px 1px 4px;
  background: var(--white);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 2rem;
  margin: 1rem auto;
  width: 45vw;
  max-width: var(--max-width);
  padding: 15px;
  text-align: left;
}

.response-container p {
  margin-bottom: 0;
  text-align: justify;
  white-space: pre-line;
}

.response-container .btn {
  font-size: 0.75rem;
  letter-spacing: var(--letterSpacing);
  padding: 0.15rem 0.5rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

/* Response Menu */

.response-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  text-align: center;
  margin: auto;
}

.response-menu {
  color: var(--clr-grey-3);
  width: 45vw;
  max-width: var(--max-width);
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
}

.response-menu-item {
  cursor: pointer;
  margin: 0.25rem;
  border-radius: var(--response-menu-button-radius);
  box-shadow: var(--shadow-1);
  border: transparent;
  padding: 0.5rem 1rem;
  background-color: var(--grey-200);
  letter-spacing: var(--spacing);
  font-size: 1rem;
  text-transform: uppercase;
  display: inline-block;
  color: var(--clr-grey-3);
  transition: var(--transition);
}

.response-menu-selected {
  background: var(--clr-primary-8);
  color: var(--primary-600);
  background-color: var(--egg-shell);
  color: var(--white);
  padding: 1rem 1rem;
}

/* Itinerary */

.activty-container {
  background: var(--primary-100);
  margin: 1rem auto;
  padding: 15px;
  border-radius: var(--borderRadius);
}

.activty-container p {
  text-align: left;
}

.day-container {
  background: var(--grey-200);
  margin: 1rem auto;
  padding: 15px;
  border-radius: var(--borderRadius);
}

/* Food Recommendations */

.meal-type-container {
  background: var(--grey-200);
  margin: 1rem auto;
  padding: 15px;
  border-radius: var(--borderRadius);
  padding-right: 50px;
  align-items: center;
}

.cafe-recommendation-container {
  background: var(--primary-100);
  margin: 1rem auto;
  padding: 15px;
  border-radius: var(--borderRadius);
}

.cafe-recommendation-container p {
  text-align: left;
}

@media screen and (max-width: 800px) {
  .response-container,
  .response-menu-container,
  .response-menu {
    width: 90%;
  }
  .response-menu-item {
    width: 40%;
  }
}

/* Checkbox */

.option label {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}

.option input {
  vertical-align: middle;
}

.checkbox {
  transform: scale(1.4);
  margin: 20px;
  font-size: 18px;
  margin: 15px 10px;
  text-align: center;
  display: inline-flex;
  position: relative;
  text-align: center;
  width: auto;
  letter-spacing: 0.25px;
  box-sizing: border-box;
  align-items: center;
}

.option {
  text-align: center;
  display: inline-block;
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  margin-top: auto;
  text-align: center;
  padding: 10px;
}

/* Navbar */

nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10rem;
}

.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--clr-primary-8);
  color: var(--primary-600);
  padding-left: 2rem;
}

.link-item {
  margin-right: 1.5rem;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

/* Logo */

.logo {
  display: flex;
  width: 5rem;
  margin: auto;
  align-items: center;
}

/* Heading */

.section-title {
  font-size: 1rem;
  color: var(--clr-primary-8);
  letter-spacing: var(--mainSpacing);
  text-align: center;
  position: relative;
  margin: 4rem 0 4rem 0;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 230px;
}

/* About */

#about {
  text-align: center;
}

.about-section {
  max-width: var(--max-width);
  background: var(--white);
  display: flex;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2rem auto;
  width: 60vw;
  padding: 20px;
}

.about-text {
  text-align: left;
}

.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.about-photo {
  width: 60vw;
}

@media screen and (max-width: 800px) {
  .about-section {
    width: 90%;
  }
}

.contact {
  max-width: var(--max-width);
  display: flex;
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  margin: 2rem auto;
  width: 60vw;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .contact {
    width: 90%;
  }
}

/* Blog */

.blog-container {
  text-align: center;
}

/* Icons */
.quote-icon {
  margin: 3px;
  font-size: 2rem;
  color: var(--clr-grey-3);
}
.coffee-icon {
  margin: 3px;
  align-self: center;
  float: right;
  font-weight: 400;
  font-weight: 400;
  line-height: 1.3;
  font-size: 60px;
  border-radius: 50%;
  border: 2px transparent rgb(0, 0, 0);
  padding: 10px;
  background-color: white;
}
/* Fun Fact */

.facts {
  width: 90vw;
  margin: 1em auto;
  max-width: var(--max-width);
}

.facts-container {
  margin: 0 auto;
  margin-top: 4px;
  width: 80vw;
  height: 300px;
  max-width: var(--max-width);
  display: flex;
  overflow: hidden;
  position: relative;
  width: 60vw;
  text-align: center;
  align-items: center;
}

.moving-container {
  position: absolute;
  margin: 4px;
  background: var(--light-mint);
  border-radius: var(--fact-border-radius);
  transition: var(--fact-transition);
}

.activeFact {
  opacity: 1;
  padding: 3px;
  transform: translateX(0);
}

.nextFact {
  opacity: 0;
  transform: translateX(100%);
}

.lastFact {
  opacity: 0;
  transform: translateX(-100%);
}

@media screen and (max-width: 800px) {
  .facts-container {
    width: 90%;
  }
  .preset-trips-container {
    width: 90%;
  }
}

/* Map */
.google-map-code iframe {
  height: 450px;
  border: 0;
}

/* Unsplash */
.unsplash-credit p {
  font-size: var(--small-text);
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
